:root{
    --cor-fundo: #ffabfb ;
    --cor-principal: #fd13de ;
    --cor-secundaria: #ce40aa; 
    --cor-destaque: #37d0ff;
    --cor-texto: #ffffff;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}